# NETFLIX WEEK 2

In [1]:
import pandas as pd

# Load the dataset
hulu_data = pd.read_csv("netflix_week2.csv")

# Display the first few rows of the dataset and the general information about the data
hulu_data.info(), hulu_data.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 11 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   Email_ID                           50000 non-null  int64
 1   Age_Group                          50000 non-null  object
 2   Gender                             45000 non-null  object
 3   Region                             50000 non-null  object
 4   Device_Used                        45000 non-null  object
 5   Previous_Hulu_Subscription_Length  50000 non-null  int64
 6   Preferred_Genre                    50000 non-null  object
 7   Subscription_Status                50000 non-null  object
 8   Hulu_Watch_Time                    50000 non-null  int64
 9   Hulu_Subscription_Date             50000 non-null  object
 10  Hulu_Cancellation_Date             24959 non-null  object
dtypes: int64(3), object(8)
memory usage: 4.2+ MB

(None,
    Email_ID Age_Group       Gender         Region Device_Used  \
 0         1     35-44       Female           Asia      Tablet
 1         2     18-24         Male  South America          TV
 2         3       55+       Female           Asia         NaN
 3         4     35-44  Undisclosed  North America      Tablet
 4         5     25-34       Female  North America      Tablet

    Previous_Hulu_Subscription_Length Preferred_Genre Subscription_Status  \
 0                                 29          Action      Not Subscribed
 1                                 52           Drama      Not Subscribed
 2                                 17        Thriller      Not Subscribed
 3                                 39        Thriller          Subscribed
 4                                 56          Comedy      Not Subscribed

    Hulu_Watch_Time Hulu_Subscription_Date Hulu_Cancellation_Date
 0            38590             2021-11-01             2022-10-20
 1             6870             2022-07-31             2023-07-29
 2            13551             2022-08-24             2023-02-07
 3             2401             2022-04-25             2024-04-18
 4            61499             2022-01-05             2024-01-03  )